.createpost {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .blogcontainer {
    border: 1px solid rgba(245, 245, 245, 0.192);
    border-radius: 15px;
    margin: 20px;
    // padding: 10px;
    // min-height: 85vh;
    width: 90%;

    .blogstart {
      .image_likes {
        background-color: black;
        width: 100%;
        border-radius: 10px;
        height: 240px;
        position: relative;
        padding: 10px;

        .blogimg {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }

        #fileselect {
          display: none;
        }
      }

      .author_date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        font-size: 0.9rem;
        color: rgba(245, 245, 245, 0.334);
      }
    }

    .blogcontent {
      padding: 10px;
      // min-height: calc(80vh - 250px);
      color: (245, 245, 245, 0.766);
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // align-items: center;
      gap: 20px;

      .title_summary {
        display: flex;
        flex-direction: column;
        width: 100%;

        .title,
        .summary {
          background-color: transparent;
          color: whitesmoke;
          border: 1px solid rgba(245, 245, 245, 0.462);
          // border-radius: 15px;
          margin: 5px 0;
          padding: 5px;
          border-radius: 5px;
        }

        .title {
          font-weight: bold;
          font-size: large;
        }

      }

      .quill {

        .ql-toolbar {
          border-radius: 5px 5px 0 0;
        }

        .ql-container {
          border-radius: 0 0 5px 5px;
          overflow-y: scroll;
        }

        .ql-picker-options{
          background-color: black;
          border-radius: 10px;
          color: whitesmoke;
        }
      }

      .submit {
        padding: 6px;
        border-radius: 5px;
        cursor: pointer;
      }

      .submit:hover {
        background-color: lightgreen;
      }
    }
  }
}