.createpost {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .blogcontainer {
    border: 1px solid rgba(245, 245, 245, 0.192);
    border-radius: 15px;
    margin: 20px;
    // padding: 20px;
    min-height: 85vh;
    width: 90%;

    .blogstart {
      .image_likes {
        background-color: whitesmoke;
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 240px;
        position: relative;

        .blogimg {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        #fileselect {
          display: none;
        }    
      }

      .author_date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        font-size: 0.9rem;
        color: rgba(245, 245, 245, 0.334);
      }
    }

    .blogcontent {
      padding: 10px;
      min-height: calc(80vh - 250px);
      color: (245, 245, 245, 0.766);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .submit {
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
      }

      .submit:hover {
        background-color: lightgreen;
      }
    }
  }
}